@model IEnumerable<webapiclient2.Models.Statistics>

@{
    ViewData["Title"] = "ListTickets";
}
<link rel="stylesheet" href="~/css/oneForAll.css">

<h1>The list of all tickets for @ViewBag.destination</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First name and last name
            </th>
            <th>
                Flight number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a href="@Url.Action("Statistics", "Home")" class="btn btn-default" style="background-color: white;">Back to List</a>
</div>
