@model webapiclient2.Models.Flights

@{
    ViewData["Title"] = "OneFlight";
}
<link rel="stylesheet" href="~/css/oneForAll.css">
<link rel="stylesheet" href="~/css/oneFlight.css">

<h1>OneFlight</h1>

<div>
    <h4>Flights</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RemainingSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("BuyTickets", "Home")" class="btn btn-default" style="background-color: white;">Buy Ticket</a>
</div>
<div class="backToList">
    <a href="@Url.Action("Index", "Home")" class="btn btn-default" style="background-color: white;">Back to List</a>
</div>
